body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #3c3c3c;
  position: relative;
}

html, body, a {
  cursor: none;
}

img {
  width: 100%;
}

.inner {
  width: 85%;
  max-width: 450px;
  margin: auto;
}

@media (min-width: 750px) {
  .inner {
    width: 70%;
    max-width: 1920px;
    margin: auto;
  }
}

.hamburger {
  display: none;
  display: block;
  position: absolute;
  z-index: 3;
  top: 6%;
  left: 80%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 750px) {
  .hamburger {
    display: none;
  }
}

.hamburger.active {
  opacity: 100;
}

.hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.hamburger.active span:nth-child(2) {
  top: 16px;
  background: #fff;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

.hamburger.active span:nth-child(3) {
  top: 16px;
  background: #fff;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

.hamburger span {
  display: block;
  position: absolute;
  width: 40px;
  height: 3px;
  left: 6px;
  background: #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

.menu {
  height: 100%;
  text-align: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #000;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

@media (min-width: 750px) {
  .menu {
    display: none;
  }
}

.menu.active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.menu__main {
  background-color: #FFD08A;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.menu__list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.menu__list:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.menu__list:hover {
  background: #FDEFCD;
}

.menu__link {
  font-size: 1.875rem;
  display: block;
  color: #3c3c3c;
  padding: 1em 0;
  text-decoration: none;
}

.header {
  position: relative;
  background: var(--background-navbar);
}

@media (min-width: 750px) {
  .header {
    background: var(none);
  }
}

.header__top {
  text-decoration: none;
  color: #3c3c3c;
}

.header__main {
  width: 100%;
  text-align: center;
  background-color: #F0841A;
  margin: auto;
  padding: 3em 3em 5em 3em;
}

@media (min-width: 750px) {
  .header__main {
    padding: 2em;
  }
}

.header__title {
  font-size: 2.5rem;
}

@media (min-width: 750px) {
  .header__title {
    font-size: 3.75rem;
  }
}

.header__color {
  color: #FFD08A;
}

.header__list {
  display: none;
}

@media (min-width: 750px) {
  .header__list {
    width: 72%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.header__menu {
  display: block;
}

@media (min-width: 750px) {
  .header__menu {
    display: none;
  }
}

.header__pc {
  margin-left: 62%;
  max-width: 400px;
  margin-bottom: 1.25em;
}

.header__link {
  text-decoration: none;
  color: #FFD08A;
  font-weight: bold;
}

@media (min-width: 750px) {
  .header__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
}

.main {
  margin-top: 1.875em;
}

.main__title {
  font-size: 1.25rem;
  text-align: center;
  color: #F0841A;
}

@media (min-width: 750px) {
  .main__title {
    font-size: 1.5625rem;
  }
}

.main__content {
  margin-bottom: 3.125em;
}

@media (min-width: 750px) {
  .main__content {
    margin-bottom: 6.25em;
  }
}

.works {
  text-align: center;
}

.works__title {
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

@media (min-width: 750px) {
  .works__title {
    font-size: 1.375rem;
  }
}

.works__content {
  display: inline-block;
  text-decoration: none;
  color: #FFD08A;
  font-weight: initial;
  margin-top: 1.25em;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 750px) {
  .works__content {
    width: 40%;
    margin-bottom: 1.25em;
  }
}

.works__main {
  position: relative;
  background-color: #000;
  display: inline-block;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(255, 208, 138, 0.6);
          box-shadow: 10px 10px 0px 0px rgba(255, 208, 138, 0.6);
}

@media (min-width: 750px) {
  .works__main {
    overflow: hidden;
    -webkit-transform: translate(-4.5px, -4.5px);
            transform: translate(-4.5px, -4.5px);
    -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  }
  .works__main:hover {
    -webkit-box-shadow: 1px 1px 0 #ccc;
            box-shadow: 1px 1px 0 #ccc;
    -webkit-transform: initial;
            transform: initial;
  }
}

.works__img {
  opacity: 0.7;
  display: block;
  border-radius: 20px;
}

@media (min-width: 750px) {
  .works__img {
    opacity: 1;
  }
}

@media (min-width: 750px) {
  .works__flex {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media (min-width: 750px) {
  .works__mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    color: #FFD08A;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 30px;
  }
  .works__mask:hover {
    opacity: 1;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
}

@media (min-width: 750px) {
  .blog__box {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 0.4em;
  }
}

.blog__img {
  margin-bottom: 0.3em;
}

@media (min-width: 750px) {
  .blog__img {
    width: 50%;
  }
}

.responsive__box {
  margin-top: 1em;
}

@media (min-width: 750px) {
  .responsive__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.responsive__img {
  margin-bottom: 0.5em;
}

@media (min-width: 750px) {
  .responsive__img {
    width: 32%;
  }
}

@media (min-width: 750px) {
  .design {
    width: 90%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 750px) {
  .design__img {
    width: 22%;
  }
}

.btn {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  margin-top: 2em;
  border: 2px solid #4CACB9;
  border-radius: 10px;
  padding: 0.5em 2em;
}

@media (min-width: 750px) {
  .btn {
    padding: 0.625em;
    width: 20%;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.btn a {
  text-decoration: none;
  color: #333333;
}

.sub {
  text-align: center;
}

.sub__title {
  font-size: 1.25rem;
  color: #F0841A;
}

.pc {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  display: none;
}

@media (min-width: 750px) {
  .pc {
    display: block;
  }
}

.pc__skill {
  margin-top: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 1.25em;
  border: #4CACB9 2px solid;
  border-radius: 10px;
}

@media (min-width: 750px) {
  .pc__skill {
    display: block;
  }
}

.pc__text {
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0.625em;
}

@media (min-width: 750px) {
  .pc__text {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
}

.pc__text:last-child {
  margin-bottom: 0;
}

.pc__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.about {
  overflow: hidden;
}

@media (min-width: 750px) {
  .about {
    width: 80%;
    margin: auto;
    overflow: visible;
  }
}

.about__main {
  display: block;
}

.about__title {
  font-size: 1.25rem;
  color: #F0841A;
  text-align: center;
  margin-bottom: 2em;
}

.about__img {
  width: 85%;
  margin: 0 auto;
  opacity: 0;
}

.about__img.return {
  -webkit-animation: Slideleft 1.0s;
          animation: Slideleft 1.0s;
  opacity: 1;
}

@media (min-width: 750px) {
  .about__img {
    width: 45%;
    margin: auto;
  }
}

.about__box {
  width: 100%;
  margin-top: 1.75em;
}

@media (min-width: 750px) {
  .about__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.profile {
  width: 85%;
  margin: 0 auto;
  margin-top: 2em;
  position: relative;
}

.profile:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  left: 70%;
  opacity: 0.2;
  width: 50%;
  height: 50%;
  top: 200px;
  background-image: url("../img/icon.png");
}

@media (min-width: 750px) {
  .profile:after {
    left: 40%;
    width: 60%;
    top: 60%;
  }
}

@media (min-width: 750px) {
  .profile {
    width: 40%;
    margin-top: 0;
  }
}

.profile__title {
  width: 200px;
  font-size: 1.5rem;
  padding-bottom: 0.3em;
  border-bottom: #4CACB9 4px solid;
  margin-bottom: 0.6em;
}

@media (min-width: 750px) {
  .profile__title {
    font-size: 1.875rem;
  }
}

.profile__main {
  text-align: center;
}

.profile__name {
  width: 20%;
  font-size: 1rem;
}

@media (min-width: 750px) {
  .profile__name {
    font-size: 1.125rem;
  }
}

.profile__text {
  font-size: 1rem;
}

@media (min-width: 750px) {
  .profile__text {
    font-size: 1.125rem;
    padding-left: 3%;
  }
}

.profile__flex {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-bottom: 1.25em;
}

.skill {
  width: 85%;
  margin: 0 auto;
  margin-top: 2em;
  margin-top: 2em;
  margin-bottom: 2.5em;
}

@media (min-width: 750px) {
  .skill {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.75em;
  }
}

.skill__title {
  width: 200px;
  font-size: 1.5rem;
  padding-bottom: 0.3em;
  border-bottom: #4CACB9 4px solid;
  margin-bottom: 0.5em;
}

@media (min-width: 750px) {
  .skill__title {
    font-size: 1.875rem;
  }
}

@media (min-width: 750px) {
  .skill__main {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.skill__lang {
  width: 100%;
}

@media (min-width: 750px) {
  .skill__lang {
    width: 50%;
  }
}

.skill__tool {
  width: 60%;
}

@media (min-width: 750px) {
  .skill__tool {
    width: 30%;
    margin-left: 5%;
  }
}

.person {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2.5em;
}

@media (min-width: 750px) {
  .person {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.75em;
  }
}

.person__title {
  color: #F0841A;
  font-size: 1.875rem;
  margin-bottom: 0.875em;
}

.person__text {
  font-size: 1rem;
  margin-bottom: 0.8em;
  line-height: 1.375em;
}

.person__text:last-child {
  margin-bottom: 0px;
}

@media (min-width: 750px) {
  .person__text {
    line-height: 1.625em;
  }
}

.carrer {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 3.75em;
}

@media (min-width: 750px) {
  .carrer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.75em;
  }
}

.carrer__title {
  color: #F0841A;
  font-size: 1.875rem;
  margin-bottom: 0.5em;
}

.timeline {
  list-style: none;
}

.timeline__text {
  margin-bottom: 1em;
}

@media (min-width: 750px) {
  .timeline__text {
    padding-bottom: 1em;
  }
}

.timeline__date {
  margin-bottom: 0.2em;
}

@media (min-width: 750px) {
  .timeline__date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
}

@media (min-width: 750px) {
  .timeline__content {
    width: 75%;
    float: left;
    border-left: 3px #4CACB9 solid;
    padding-left: 30px;
    padding-top: 15px;
  }
  .timeline__content:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #F0841A;
    position: absolute;
    left: 101px;
    top: 19px;
    border-radius: 100%;
  }
}

.timeline__title {
  margin-bottom: 0.6em;
}

@media (min-width: 750px) {
  .timeline__title {
    margin-bottom: 0.3em;
    font-size: 1.25rem;
  }
}

.timeline__list {
  margin-bottom: 0;
}

.timeline > li {
  margin-bottom: 2em;
}

@media (min-width: 750px) {
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
}

.footer {
  background-color: #F0841A;
  color: #FDEFCD;
  text-align: center;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.title {
  font-size: 1.5rem;
  color: #F0841A;
  margin-top: 1em;
  display: inline-block;
  background-color: #FDEFCD;
  border-left: #4CACB9 10px solid;
  padding: 0.1em 0.4em 0.1em 0.5em;
  clear: both;
  margin-bottom: 0.2em;
}

.subtitle {
  font-size: 1.125rem;
  margin-bottom: 0.5em;
  text-align: left;
  clear: both;
  display: block;
  width: 35%;
  padding-bottom: 0.2em;
  border-bottom: 3px dashed #4CACB9;
}

@media (min-width: 750px) {
  .subtitle {
    display: block;
    font-size: 1.125rem;
    text-align: left;
    width: 30%;
    display: block;
  }
}

.work__detail {
  margin-top: 1.25em;
  background-color: #FDEFCD;
  border-radius: 20px;
  padding: 1em;
  -webkit-box-shadow: #4CACB9 -10px -10px;
          box-shadow: #4CACB9 -10px -10px;
}

@media (min-width: 750px) {
  .work__detail {
    padding: 1.2em;
    width: 60%;
    margin: 0 auto;
    margin-top: 2em;
  }
}

@media (min-width: 750px) {
  .work__traveldBox {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.work__prezen iframe {
  width: 100%;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.work__logo {
  margin-top: 2em;
}

@media (min-width: 750px) {
  .work__logo {
    width: 70%;
  }
}

.work__subtitle {
  margin-top: 1rem;
}

.work__design {
  display: block;
  width: 100%;
}

.work__shopping {
  margin-bottom: 2rem;
}

@media (min-width: 750px) {
  .work__shopping {
    display: block;
    width: 55%;
    margin-bottom: 2rem;
  }
}

.work__traveld {
  margin-top: 1rem;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.work__caption {
  font-size: 0.875rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #4CACB9;
}

.work__link {
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

@media (min-width: 750px) {
  .work__link {
    margin-top: 0.9375em;
  }
}

.work__page {
  border: #4CACB9 3px solid;
  padding: 0.3em;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 0 #F0841A;
          box-shadow: 0 4px 0 #F0841A;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 750px) {
  .work__page {
    padding: 0.5em;
  }
}

.work__page:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0 0 0 #333;
          box-shadow: 0 0 0 #333;
}

.work__here {
  text-decoration: none;
  font-size: 0.8125rem;
  color: #3c3c3c;
  font-weight: bold;
}

.work__git {
  text-decoration: none;
  font-size: 0.8125rem;
  color: #333;
  font-weight: bold;
}

.work__img {
  width: 100%;
}

@media (min-width: 750px) {
  .work__img {
    width: 100%;
  }
}

@media (min-width: 750px) {
  .work__box {
    margin-top: 1em;
    width: 100%;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.work__flex {
  width: 100%;
  margin-bottom: 0.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 750px) {
  .work__flex {
    margin-bottom: 1em;
  }
}

.work__category {
  font-size: 0.75rem;
  width: 60px;
}

@media (min-width: 750px) {
  .work__category {
    width: 70px;
  }
}

.work__title {
  font-size: 1.25rem;
}

@media (min-width: 750px) {
  .work__title {
    font-size: 1.875rem;
  }
}

.work__period {
  font-size: 0.9375rem;
  margin-top: 0.2em;
}

.work__techno {
  font-size: 0.75rem;
  margin-top: 0.2em;
}

@media (min-width: 750px) {
  .work__techno {
    font-size: 0.875rem;
  }
}

@media (min-width: 750px) {
  .work__intention {
    margin-top: 2.5em;
  }
}

.work__text {
  text-align: left;
  margin-bottom: 0.9375rem;
  line-height: 1.7em;
}

@media (min-width: 750px) {
  .work__text {
    width: 80%;
    max-width: 40em;
    margin-right: auto;
    line-height: 1.875em;
  }
}

.work__code {
  margin-bottom: 1.25em;
}

.work__img {
  display: block;
}

.work__miro {
  width: 100%;
  margin-bottom: 1.25rem;
}

.work__back {
  display: block;
  margin-bottom: 2em;
  text-decoration: none;
  color: #4CACB9;
  font-weight: bold;
}

.work__back:before {
  content: "";
  display: inline-block;
  border: 2px solid #4CACB9;
  margin-bottom: 4px;
  margin-right: 0.2em;
  width: 1em;
}

.work__back:after {
  content: "";
  display: inline-block;
  border: 2px solid #4CACB9;
  margin-bottom: 4px;
  margin-left: 0.2em;
  width: 1em;
}

.work__blog {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.twitter {
  width: 85%;
  margin: auto;
}

.twitter__text {
  margin-top: 1em;
  margin-bottom: 0.7em;
}

@media (min-width: 750px) {
  .twitter__text {
    margin-bottom: 0.6em;
  }
}

.twitter__page {
  margin-top: -0.1em;
  border: #4CACB9 3px solid;
  padding: 0.3em;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 0 #F0841A;
          box-shadow: 0 4px 0 #F0841A;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 2em;
}

.twitter__page:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0 0 0 #333;
          box-shadow: 0 0 0 #333;
}

@media (min-width: 750px) {
  .twitter {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

.twitter__title {
  color: #F0841A;
  font-size: 1.875rem;
  margin-bottom: 0.625em;
}

.twitter__main {
  width: 100%;
  margin: auto;
}

@media (min-width: 750px) {
  .twitter__main {
    width: 30%;
  }
}

@media (min-width: 750px) {
  .twitter__flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 750px) {
  .twitter__box {
    width: 50%;
  }
}

.twitter__main {
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
  -webkit-animation: Slidein 1.6s;
          animation: Slidein 1.6s;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.twitter__main.show {
  opacity: 1;
}

@media (min-width: 750px) {
  .twitter__main {
    width: 70%;
    margin-top: 0;
    margin-left: 10%;
  }
}

.mail {
  display: inline-block;
  text-decoration: none;
  color: #F0841A;
}

.cursor {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: none;
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background: #4cacb9;
  border-radius: 50%;
  z-index: 999;
  -webkit-transition: width .3s, height .3s, top .3s, left .3s;
  transition: width .3s, height .3s, top .3s, left .3s;
}

.cursor.hov_ {
  top: -12px;
  left: -12px;
  width: 32px;
  height: 32px;
  background: rgba(255, 227, 186, 0.7);
}

@-webkit-keyframes Slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(64px);
            transform: translateY(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes Slidein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(64px);
            transform: translateY(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes Slideleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes Slideleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */