$pc: 750px;

// @mixin pc {
//     @media (min-width:($pc)) {
//         @content;
//     }
// }

@function rem($value){
    @return ($value/16px)+rem;
}

@mixin pc {
    @media (min-width:$pc){
        @content;
    }
}


body{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #3c3c3c;
}


img{
    width: 100%;
}

.inner{
    width: 70%;
    max-width: 450px;
    margin: auto;

    @include pc {
        width: 70%;
        max-width: 1920px;
        margin: auto;
    }
}

// header
.header{
    &__top{
        text-decoration: none;
        color: #3c3c3c;
    }

    &__main{
        width: 100%;
        text-align: center;
        background-color: #F0841A;
        margin: auto;
        padding: 3em;
        @include pc {
            padding: (32/16)+em;
        }
    }

    &__title{
        font-size: rem(40px);
        @include pc {
           font-size: rem(60px); 
        }
    }

    &__color{
        color: #FFD08A;
    }
}


// main
.main{
    margin-top: (30em/16);

    &__title{
        font-size:rem(20px);
        text-align: center;
        color: #F0841A;
        @include pc {
            font-size: rem(25px);
        }
    }

    &__content{
        margin-bottom: (50em/16);   
        @include pc {
            margin-bottom: (100/16)+em;
        }   
    }
}

.works{
    text-align: center;
    &__title{
        font-size: rem(20px);
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        @include pc {
            font-size: rem(22px);
        }
    }

    &__content{
        display: inline-block;
        text-decoration: none;
        color: #FFD08A ;
        font-weight: initial;
        margin-top: (20em/16);
        margin-right: auto;
        margin-left: auto;
        @include pc {
            width: 40%;
            margin-bottom: (20/16)+em;
        }
    }

    &__main{
        position: relative;
        background-color: #000;
        display: inline-block;
        border-radius: 20px;
    }

    &__img{
        opacity: 0.7;
        display: block;
        border-radius: 20px;
        box-shadow: 10px 10px 0px 0px rgba($color: #FFD08A, $alpha: 0.6);
    }

    &__flex{
        @include pc {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }

}

// BLOG


// Web Design


// Shopping List


// Slide Show

// btn
.btn{
    display: block;
    margin-top: (32/16)+em;
}

.btn a{
    text-decoration: none;
    color: #333333;
    padding: (10em/16) (50em/16);
    border: 2px solid #4CACB9;
    border-radius: 10px;
}

// sub

.sub{
    text-align: center;

    &__title{
        font-size: rem(20px);
        color: #F0841A;
    }
}



.pc{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: (80/16)+em;
    display: none;
    @include pc {
        display: block;
    }
    &__skill{
        margin-top: (20/16)+em;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: (20/16)+em;
        border: #4CACB9 2px solid;
        border-radius: 10px;
        @include pc {
            display: block;
        }
    }

    &__text{
        font-weight: normal;
        font-size: rem(16px);
        margin-bottom: (10/16)+em;
        @include pc {
            margin-bottom: 0;
            font-size: rem(20px);
        }
    }

    &__text:last-child{
        margin-bottom: 0;
    }

    &__flex{
        display: flex;
        justify-content: space-around;
    }
    
}


// about

.about{
    overflow: hidden;
    @include pc {
        width: 80%;
        margin: auto;
        overflow: visible;
    }

    &__main{
        display: block;
    }
    &__title{
        font-size: rem(20px);
        color: #F0841A;
        text-align: center;
        margin-bottom: 2em;
    }

    &__img{
        width: 70%;
        margin: 0 auto;
        @include pc {
            width: 40%;
            margin: auto;
        }
    }

    &__box{
        width: 100%;
        margin-top: (60/16)+em;
        @include pc {
            display: flex;
            justify-content: space-between;
        }
    }

}

.profile{
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
    &:after{
        content: "";
        position: absolute;;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        left: 270px;
        opacity: 0.3;
        width: 200px;
        height: 200px;
        top: 80px;
        background-image: url("/img/icon.png");
        @include pc {
            left: 200px;
            width: 300px;
            height: 300px;
            top: 290px;
        }
    }
    @include pc {
        width: 40%;
        margin-top: 0;
    }
    &__title{
        width: 200px;
        font-size: rem(24px);
        padding-bottom: 0.3em;
        border-bottom: #4CACB9 4px solid;
        margin-bottom: 0.6em;
        @include pc {
            font-size: rem(30px);
        }
    }

    &__main{
        text-align: center;
    }

    &__name{
        width: 70px;
        font-size: rem(18px);
        @include pc {
            font-size: rem(20px);
        }
    }

    &__text{
        font-size: rem(16px);
        // padding-left: 2%;
        @include pc{
            font-size: rem(18px);
            padding-left: 3%;
        }
    }

    &__flex{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        margin-bottom: (20/16)+em;
    }
}

.skill{
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
    margin-top: (32/16)+em;
    margin-bottom: (40/16)+em;
    @include pc {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: (60/16)+em;
    }
    &__title{
        width: 200px;
        font-size: rem(24px);
        padding-bottom: 0.3em;
        border-bottom: #4CACB9 4px solid;
        margin-bottom: 0.5em;
        @include pc {
            font-size: rem(30px);
        }
    }

    &__main{
        @include pc {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }
    }

    &__lang{
        width: 100%;
        @include pc {
            width: 50%;
        }
    }

    &__tool{
        width: 60%;
        @include pc {
            width: 30%;
            margin-left: 5%;
        }
    }
}

.person{
    width: 70%;
    margin: 0 auto;
    margin-bottom: (40/16)+em;
    @include pc {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: (60/16)+em;
    }
    &__title{
        color: #F0841A;
        font-size: rem(30px);
        margin-bottom: (14/16)+em;
    }
    
    &__text{
        font-size: rem(16px);
        margin-bottom: (16/20)+em;
        line-height: (22/16)+em;
        &:last-child{
            margin-bottom: 0px;
        }

        @include pc {
            line-height: (26/16)+em;
        }
    }
}

.carrer{
    width: 70%;
    margin: 0 auto;
    margin-bottom: (60/16)+em;
    @include pc {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: (60/16)+em;
    }
    &__title{
        color: #F0841A;
        font-size: rem(30px);
        margin-bottom: (16/28)+em;
    }
}
// timeline
.timeline {
    list-style: none;
    &__text{
        @include pc {
            padding-bottom: 1em;
        }
    }
    &__date{
        @include pc {
            width: 110px;
            float: left;
            margin-top: 20px;
        }
    }
    &__content{
        @include pc {
            width: 75%;
            float: left;
            border-left: 3px #4CACB9 solid;
            padding-left: 30px;
            padding-top: 15px;
            &:before{
                content: '';
                width: 20px;
                height: 20px;
                background: #F0841A;
                position: absolute;
                left: 101px;
                top: 19px;
                border-radius: 100%;
            }
        }
    }

    &__title{
        @include pc {
            margin-bottom: 0.3em;
            font-size: rem(20px);
        }
    }

    &__list{
        margin-bottom: 0;
    }
  }

.timeline > li {
    margin-bottom: 60px;
    @include pc {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
  }


// footer
.footer{
    background-color: #F0841A;
    color: #333;
    text-align: center;
    padding-top: (2/16)+em;
    padding-bottom: (2/16)+em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


// title
.title{
    font-size: rem(24px);
    color: #F0841A;
    margin-bottom: 0.6em;
    margin-top: 1em;
    display: inline-block;
    background-color: #FDEFCD;
    border-left: #4CACB9 10px solid;
    padding: 0.1em 0.4em 0.1em 0.5em;
}

// subtitle
.subtitle{
    font-size: rem(20px);
    margin-bottom: 0.4em;
    text-align: center;
    width: 40%;
    display: block;
    border-top: #4CACB9 dashed 3px;
    border-bottom: #4CACB9 dashed 3px;
    @include pc {
        margin-top: 1em;
        font-size: rem(20px);
        margin-bottom: 0.5em;
        text-align: center;
        width: 20%;
        display: block;
        border-top: #4CACB9 dashed 3px;
        border-bottom: #4CACB9 dashed 3px;
    }
}

// WORK
.work{
    margin-top: 2em;
    &__detail{
        margin-top: (20px/16px)+em;
        background-color: #FDEFCD;
        border-radius: 20px;
        padding: 2em;
        box-shadow: #4CACB9 -10px -10px;
        @include pc {
            padding: 1.2em;
            width: 44%;
        }
    }

    &__link{
        margin-top: (15px/16px)+em;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__page{
        border: 2px solid #4CACB9;
        padding: 0.5em;
        border-radius: 7px;
    }

    &__here{
        text-decoration: none;
        font-size: rem(13px);
        color: #333;
        font-weight: bold;
    }

    &__git{
        text-decoration: none;
        font-size: rem(13px);
        color: #333;
        font-weight: bold;
    }

    &__img{
        width: 100%;
        @include pc {
            width: 50%;
        }
    }

    &__box{
        @include pc {
            margin-top: 1em;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
    }
    
    &__flex{
        width: 100%;
        margin-bottom: 1em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__category{
        font-size: rem(12px);
        width: 60px;
        @include pc {
            width: 70px;
        }
    }

    &__title{
        font-size: rem(30px);
    }

    &__period{
        font-size: rem(15px);
        margin-top: 0.2em;
    }

    &__techno{
        font-size: rem(12px);
        margin-top: 0.2em;
        @include pc {
            font-size: rem(14px);
        }
    }

    &__intention{
        margin-top: (40px/16px)+em;
    }

    &__text{
        text-align: left;
        margin-bottom:rem(20px);
        line-height: 1.5em;
        @include pc {
            width: 75%;
            max-width: 40em;
            margin-right: auto;
            line-height: (30px/16px)+em;
        }
    }

    &__code{
        margin-bottom: (20px/16px)+em;
    }

    &__img{
        display: block;
    }

    &__miro{
            margin-bottom:rem(20px);
    }

    &__back{
        display: block;
        margin-bottom: 2em;
        text-decoration: none;
        color: #4CACB9;
        font-weight: bold;
        &:before{
                content: "";
                display: inline-block;
                border: 2px solid #4CACB9;
                margin-bottom: 4px;
                margin-right: 0.2em;
                width: 1em;
        }
        &:after{
                content: "";
                display: inline-block;
                border: 2px solid #4CACB9;
                margin-bottom: 4px;
                margin-left: 0.2em;
                width: 1em;
        }
    }
}