$pc: 750px;

// @mixin pc {
//     @media (min-width:($pc)) {
//         @content;
//     }
// }

@function rem($value){
    @return ($value/16px)+rem;
}

@mixin pc {
    @media (min-width:$pc){
        @content;
    }
}

@mixin burgerSpan {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }

body{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #3c3c3c;
}


img{
    width: 100%;
}

.inner{
    width: 85%;
    max-width: 450px;
    margin: auto;

    @include pc {
        width: 70%;
        max-width: 1920px;
        margin: auto;
    }
}


// humberger menu
.hamburger {
    @include pc {
        display: none;
    }
    display: none;
    display : block;
    position: absolute;
    z-index : 3;
    top: 6%;
    left: 80%;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    &.active{
        opacity: 100;
        & span{
            &:nth-child(1){
                top : 16px;
                left: 6px;
                transform :rotate(315deg);
            }
            &:nth-child(2){
                top: 16px;
                background : #fff;
                transform : rotate(-315deg);
            }
            &:nth-child(3){
                top: 16px;
                background : #fff;
                transform : rotate(-315deg);
            }
        }
    }
    & span{
        display : block;
        position: absolute;
        width   : 40px;
        height  : 3px ;
        left    : 6px;
        background : #fff;
        transition        : 0.5s ease-in-out;
        &:nth-child(1){
            top: 10px;
        }
        &:nth-child(2){
            top: 20px;
        }
        &:nth-child(3){
            top: 30px;
        }
    }
}


// nav
.menu{
    @include pc {
        display: none;
    }
    height: 100%;
    text-align: center;
    position: fixed;
    z-index: 2;
    top  : 0;
    left : 0;
    color: #000;
    text-align: center;
    transform: translateY(-100%);;
    width: 100%;
    transition: all 0.6s;
    &.active{
        transform: translate(0%);
    }

    &__main{
        background-color: #FFD08A;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    &__list{
        list-style-type: none;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #fff;
        &:last-child{
            padding-bottom: 0;
            border-bottom: none;
        }
        &:hover{
            background :#FDEFCD;
        }
    }

    &__link{
        font-size: rem(30px);
        display: block;
        color: #3c3c3c;
        padding: 1em 0;
        text-decoration :none;
    }
}





// header
.header{
    position: relative;
    background: var(--background-navbar);
    @include pc {
        background: var(none);
    }
    &__top{
        text-decoration: none;
        color: #3c3c3c;
    }

    &__main{
        width: 100%;
        text-align: center;
        background-color: #F0841A;
        margin: auto;
        padding: 3em 3em 5em 3em;
        @include pc {
            padding: (32/16)+em;
        }
    }

    &__title{
        font-size: rem(40px);
        @include pc {
           font-size: rem(60px); 
        }
    }

    &__color{
        color: #FFD08A;
    }

    &__list{
        display: none;
        @include pc {
            width: 72%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    &__menu{
        display: block;
        @include pc {
            display: none;
        }
    }
    
    &__pc{
        margin-left: 62%;
        max-width: 400px;
        margin-bottom: (20/16)+em;
    }

    &__link{
        @include pc {
            position: relative;
            display: inline-block;
            text-decoration: none;
        }
        &:after{
            position: absolute;
            bottom: -4px;
            left: 0;
            content: '';
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background: #FDEFCD;
            transform: scale(0, 1);
            transform-origin: center top;
            transition: transform .3s;
        }
        &:hover{
            &:after{
                transform: scale(1, 1);
            }
        }
        text-decoration: none;
        color: #FFD08A;
        font-weight: bold;
    }
}

// main
.main{
    margin-top: (30em/16);

    &__title{
        font-size:rem(20px);
        text-align: center;
        color: #F0841A;
        @include pc {
            font-size: rem(25px);
        }
    }

    &__content{
        margin-bottom: (50em/16);   
        @include pc {
            margin-bottom: (100/16)+em;
        }   
    }
}

.works{
    text-align: center;
    &__title{
        font-size: rem(20px);
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        @include pc {
            font-size: rem(22px);
        }
    }

    &__content{
        display: inline-block;
        text-decoration: none;
        color: #FFD08A ;
        font-weight: initial;
        margin-top: (20em/16);
        margin-right: auto;
        margin-left: auto;
        @include pc {
            width: 40%;
            margin-bottom: (20/16)+em;
        }
    }

    &__main{
        position: relative;
        background-color: #000;
        display: inline-block;
        border-radius: 20px;
        box-shadow: 10px 10px 0px 0px rgba($color: #FFD08A, $alpha: 0.6);
        @include pc {
            overflow: hidden;
            transform:translate(-4.5px, -4.5px);
            transition:box-shadow 0.3s, transform 0.3s;
            &:hover{
                box-shadow:1px 1px 0 #ccc;
                transform:initial;
            }
        }
    }

    &__img{
        opacity: 0.7;
        display: block;
        border-radius: 20px;
        @include pc {
            opacity: 1;
        }
    }

    &__flex{
        @include pc {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }

    &__mask{
        @include pc {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.5);
            opacity: 0;
            color: #FFD08A;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 30px;
            &:hover{
                opacity: 1;
                transition:all 0.6s ease;
            }
        }
    }

}

// BLOG


// Web Design


// Shopping List


// Slide Show

// btn
.btn{
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    margin-top: (32/16)+em;
    border: 2px solid #4CACB9;
    border-radius: 10px;
    padding: 0.5em 2em;
    @include pc {
        padding: (10/16)+em;
        width: 20%;
        transition: transform .3s;
        &:hover{
            transform:scale(1.05);
        }
    }
}

.btn a{
    text-decoration: none;
    color: #333333;
}

// sub

.sub{
    text-align: center;

    &__title{
        font-size: rem(20px);
        color: #F0841A;
    }
}



.pc{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: (80/16)+em;
    display: none;
    @include pc {
        display: block;
    }
    &__skill{
        margin-top: (20/16)+em;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: (20/16)+em;
        border: #4CACB9 2px solid;
        border-radius: 10px;
        @include pc {
            display: block;
        }
    }

    &__text{
        font-weight: normal;
        font-size: rem(16px);
        margin-bottom: (10/16)+em;
        @include pc {
            margin-bottom: 0;
            font-size: rem(20px);
        }
    }

    &__text:last-child{
        margin-bottom: 0;
    }

    &__flex{
        display: flex;
        justify-content: space-around;
    }
    
}


// about

.about{
    overflow: hidden;
    @include pc {
        width: 80%;
        margin: auto;
        overflow: visible;
    }

    &__main{
        display: block;
    }
    &__title{
        font-size: rem(20px);
        color: #F0841A;
        text-align: center;
        margin-bottom: 2em;
    }

    &__img{
        width: 85%;
        margin: 0 auto;
        @include pc {
            width: 40%;
            margin: auto;
        }
    }

    &__box{
        width: 100%;
        margin-top: (28/16)+em;
        @include pc {
            display: flex;
            justify-content: space-between;
        }
    }

}

.profile{
    width: 85%;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
    &:after{
        content: "";
        position: absolute;;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        left: 270px;
        opacity: 0.3;
        width: 200px;
        height: 200px;
        top: 80px;
        background-image: url("../img/icon.png");
        @include pc {
            left: 200px;
            width: 300px;
            height: 300px;
            top: 300px;
        }
    }
    @include pc {
        width: 40%;
        margin-top: 0;
    }
    &__title{
        width: 200px;
        font-size: rem(24px);
        padding-bottom: 0.3em;
        border-bottom: #4CACB9 4px solid;
        margin-bottom: 0.6em;
        @include pc {
            font-size: rem(30px);
        }
    }

    &__main{
        text-align: center;
    }

    &__name{
        width: 20%;
        font-size: rem(16px);
        @include pc {
            font-size: rem(18px);
        }
    }

    &__text{
        font-size: rem(16px);
        // padding-left: 2%;
        @include pc{
            font-size: rem(18px);
            padding-left: 3%;
        }
    }

    &__flex{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        margin-bottom: (20/16)+em;
    }
}

.skill{
    width: 85%;
    margin: 0 auto;
    margin-top: 2em;
    margin-top: (32/16)+em;
    margin-bottom: (40/16)+em;
    @include pc {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: (60/16)+em;
    }
    &__title{
        width: 200px;
        font-size: rem(24px);
        padding-bottom: 0.3em;
        border-bottom: #4CACB9 4px solid;
        margin-bottom: 0.5em;
        @include pc {
            font-size: rem(30px);
        }
    }

    &__main{
        @include pc {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }
    }

    &__lang{
        width: 100%;
        @include pc {
            width: 50%;
        }
    }

    &__tool{
        width: 60%;
        @include pc {
            width: 30%;
            margin-left: 5%;
        }
    }
}

.person{
    width: 85%;
    margin: 0 auto;
    margin-bottom: (40/16)+em;
    @include pc {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: (60/16)+em;
    }
    &__title{
        color: #F0841A;
        font-size: rem(30px);
        margin-bottom: (14/16)+em;
    }
    
    &__text{
        font-size: rem(16px);
        margin-bottom: (16/20)+em;
        line-height: (22/16)+em;
        &:last-child{
            margin-bottom: 0px;
        }

        @include pc {
            line-height: (26/16)+em;
        }
    }
}

.carrer{
    width: 85%;
    margin: 0 auto;
    margin-bottom: (60/16)+em;
    @include pc {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: (60/16)+em;
    }
    &__title{
        color: #F0841A;
        font-size: rem(30px);
        margin-bottom: (16/32)+em;
    }
}
// timeline
.timeline {
    list-style: none;
    &__text{
        margin-bottom: 1em;
        @include pc {
            padding-bottom: 1em;
        }
    }
    &__date{
        margin-bottom: 0.2em;
        @include pc {
            width: 110px;
            float: left;
            margin-top: 20px;
        }
    }
    &__content{
        @include pc {
            width: 75%;
            float: left;
            border-left: 3px #4CACB9 solid;
            padding-left: 30px;
            padding-top: 15px;
            &:before{
                content: '';
                width: 20px;
                height: 20px;
                background: #F0841A;
                position: absolute;
                left: 101px;
                top: 19px;
                border-radius: 100%;
            }
        }
    }

    &__title{
        margin-bottom: 0.6em;
        @include pc {
            margin-bottom: 0.3em;
            font-size: rem(20px);
        }
    }

    &__list{
        margin-bottom: 0;
    }
  }

.timeline > li {
    margin-bottom: 2em;
    @include pc {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
  }


// footer
.footer{
    background-color: #F0841A;
    color: #FDEFCD;
    text-align: center;
    padding-top: (10/16)+em;
    padding-bottom: (10/16)+em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


// title
.title{
    font-size: rem(24px);
    color: #F0841A;
    margin-bottom: 0.7em;
    margin-top: 1em;
    display: inline-block;
    background-color: #FDEFCD;
    border-left: #4CACB9 10px solid;
    padding: 0.1em 0.4em 0.1em 0.5em;
    clear: both;
}

// subtitle
.subtitle{
    font-size: rem(20px);
    margin-bottom: 0.5em;
    text-align: left;
    clear: both;
    display: inline;
    width: 60%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top: #4CACB9 dashed 3px;
    border-bottom: #4CACB9 dashed 3px;
    @include pc {
        margin-top: 1em;
        display: inline-block;
        font-size: rem(20px);
        margin-bottom: 0.5em;
        margin-top: 1em;
        text-align: left;
        width: 30%;
        display: inline;
        border-top: #4CACB9 dashed 3px;
        border-bottom: #4CACB9 dashed 3px;
    }
}

// WORK
.work{
    &__detail{
        margin-top: (20px/16px)+em;
        background-color: #FDEFCD;
        border-radius: 20px;
        padding: 1em;
        box-shadow: #4CACB9 -10px -10px;
        @include pc {
            padding: 1.2em;
            width: 60%;
        }
    }

    &__design{
        display: block;
        width: 80%;
    }

    &__caption{
        font-size: rem(14px);
        margin-bottom: 0;
        font-weight: bold;
        color: #4CACB9;
    }

    &__link{
        @include pc {
            margin-top: (15px/16px)+em;
        }
        margin-top: (12px/16px)+em;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__page{
        @include pc {
            padding: 0.5em;
        }
        border:  #4CACB9 3px solid;
        padding: 0.3em;
        border-radius: 3px;
        box-shadow: 0 4px 0 #F0841A;
        display: inline-block;
        transition: .3s;
        &:hover{
            transform: translateY(5px);
            box-shadow: 0 0 0 #333;
        }
    }

    &__here{
        text-decoration: none;
        font-size: rem(13px);
        color: #3c3c3c;
        font-weight: bold;
    }

    &__git{
        text-decoration: none;
        font-size: rem(13px);
        color: #333;
        font-weight: bold;
    }

    &__img{
        width: 100%;
        @include pc {
            width: 100%;
        }
    }

    &__box{
        @include pc {
            margin-top: 1em;
            width: 100%;
            position: relative;
            align-items: center;
            justify-content: space-between;
        }
    }
    
    &__flex{
        @include pc { 
            margin-bottom: 1em;
        }
        width: 100%;
        margin-bottom: 0.2em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__category{
        font-size: rem(12px);
        width: 60px;
        @include pc {
            width: 70px;
        }
    }

    &__title{
        font-size: rem(20px);
        @include pc {
            font-size: rem(30px);
        }
    }

    &__period{
        font-size: rem(15px);
        margin-top: 0.2em;
    }

    &__techno{
        font-size: rem(12px);
        margin-top: 0.2em;
        @include pc {
            font-size: rem(14px);
        }
    }

    &__intention{
        @include pc {
            margin-top: (40px/16px)+em;
        }
    }

    &__text{
        text-align: left;
        margin-top: 0.7em;
        margin-bottom:rem(20px);
        line-height: 1.5em;
        @include pc {
            width: 80%;
            max-width: 40em;
            margin-right: auto;
            line-height: (30px/16px)+em;
        }
    }

    &__code{
        margin-bottom: (20px/16px)+em;
    }

    &__img{
        display: block;
    }

    &__miro{
        @include pc {
            width: 80%;
        }
        width: 100%;
        margin-bottom:rem(20px);
    }

    &__back{
        display: block;
        margin-bottom: 2em;
        text-decoration: none;
        color: #4CACB9;
        font-weight: bold;
        &:before{
                content: "";
                display: inline-block;
                border: 2px solid #4CACB9;
                margin-bottom: 4px;
                margin-right: 0.2em;
                width: 1em;
        }
        &:after{
                content: "";
                display: inline-block;
                border: 2px solid #4CACB9;
                margin-bottom: 4px;
                margin-left: 0.2em;
                width: 1em;
        }
    }
}

// twitter
.twitter{
    width: 85%;
    margin: auto;
    &__text{
        margin-top: 1em;
        margin-bottom: 0.7em;
        @include pc {
            margin-bottom: 0.6em;
        }
    }

    &__page{
        margin-top: -0.1em;
        border:  #4CACB9 3px solid;
        padding: 0.3em;
        border-radius: 3px;
        box-shadow: 0 4px 0 #F0841A;
        display: inline-block;
        transition: .3s;
        margin-bottom: 2em;
        &:hover{
            transform: translateY(5px);
            box-shadow: 0 0 0 #333;
        }

    }
    @include pc {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    &__title{
        color: #F0841A;
        font-size: rem(30px);
        margin-bottom: (10/16)+em;
    }

    &__main{
        width: 100%;
        margin: auto;
        @include pc {
            width: 30%;
        }
    }

    &__flex{
        @include pc {
            display: flex;
            align-items: flex-start;
        }
    }

    &__box{
        @include pc {
            width: 50%;
        }
    }

    &__main{
        display: block;
        margin-top: 1em;
        margin-bottom: 2em;
        @include pc {
            width: 70%;
            margin-top: 0;
            margin-left: 10%;
            animation: Slidein 1.6s;
            transition: .5s;
            opacity: 0;
            &.show{
                opacity: 1;
            }
        }
    }
}

@keyframes Slidein{
    0% {
      opacity: 0;
      transform: translateY(64px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
